@import './../../styles/mixin.scss';

.wishlist-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    .wishlist-item{
        @include flex-content(flex, column, center, center);
        margin: 20px 0;
        .wishlist-img{
            width: 100%;
            height: auto;
            border: 3px solid transparent;
            &:hover{
                border: 4px solid rgb(223, 182, 0);
            } 
        }
    }
}

