$color-white: white;
$color-white-light: rgb(204, 204, 204);
$color-yellow: #ffd900d5;
$color-violet: #3a007c;
$color-violet-light: #5600b8;
$color-red: #850e0e;
$color-black: black;
$color-black-light: rgb(68, 68, 68);

$color-dark: #101010;
$color-less-dark: #252525;
$color-gray-dark: #333;
$color-gray: #999;
$color-gray-medium: #212121;
$color-gray-small: #cccc;
$color-gray-copy: #757575;