$color-white: white;
$color-yellow: #b9a400;
$color-violet: #5600b9;
$color-red: #850e0e;
$color-black: black;

$color-dark: #101010;
$color-less-dark: #252525;
$color-gray-dark: #333;
$color-gray: #999;
$color-gray-medium: #212121;
$color-gray-small: #cccc;
$color-gray-copy: #757575;