@import './styles/color.scss';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color-gray-medium;
    font-family: 'Oswald', sans-serif;
  } 

  ul{
    list-style: none;
    padding: 0;
  }

  li{
    list-style: none;
  }
  
  a{
    text-decoration: none;
    outline: none;
    color: white;
  }
