.button-popular {
    background-color: black;
    color: white;
}

.button-upcoming {
    background-color: rgb(97, 1, 100);
    color: rgb(255, 238, 4);
}

.button-top-rated {
    background-color: rgb(16, 0, 240);
    color: rgb(60, 231, 88);
}



